<div class="seasons">
  <div class="numSeason">
    <h3>Seasons</h3>
    <ul>
      <li ng-class="{active: $ctrl.tab == $index}" ng-repeat="season in $ctrl.seasonsNumbers" ng-click="$ctrl.getSeasons(season)">{{season}}</li>
    </ul>
  </div>
  <div class="season">
    <ul>
      <li ng-repeat="chapter in $ctrl.episodes" ng-click="$ctrl.getEpisode(chapter.imdbID,$index)">
        <span>
          <strong>{{$index+1}}</strong> {{chapter.Title}}
        </span>
        <div ng-show="$ctrl.showDescription && $ctrl.idA == $index">
          <span><strong>Aired on:</strong>{{$ctrl.episodeData.Released}}</span>
          <span><strong>Description:</strong></span>
          <p>
            {{$ctrl.episodeData.Plot}}
          </p>
          <span><strong>Rating:</strong>{{$ctrl.episodeData.imdbRating}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
